
.appointment{
    background-image: url("https://image.freepik.com/free-photo/stethoscope-copy-space_23-2147652347.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
